
*{padding: 0; margin: 0;}

@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');

body{

	font-family: 'Courgette', cursive;
    font-size: 17px;
	}

.head{
	text-align: center;
	padding:0;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	color: #000;
	}

.hamburger{
	position: fixed;
	top: 30px;
	right: 30px;
	background: #fff;
	width: 55px;
	height: 55px;
	cursor: pointer;
	border-radius: 10px;
	box-shadow: 0 0 6px rgba(0,0,0,.5);
	border: 5px outset #E60C0C;
	}

.menu-navegacion{
	position: fixed;
	top: 0;
	right: 0;
	width: 30vw;
	height: 100%;
	background-image: linear-gradient(to right, #43e97b 0%, #38f9d7 100%);
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	box-shadow: 0 0 6px rgba(0,0,0,.5);
	transform: translate(110%);
	transition: transform .3s ease-in-out;  /*pilas aqui*/
	}

.spread{
	transform: translate(0);
	}

.menu-navegacion a{
	color: #000;
	text-decoration: none;
	}




.cabecera{
	background: #F9F0F9;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 1em 2em;
}


.contenido{
	display: grid;
	grid-gap: 1em;
	grid-template-areas: "titulo titulo titulo"
	"imagen texto texto"
	"imagenejemplos imagenejemplos imagenejemplos";
}

.contenido .titulo{
	background: #10ECAB;
	padding: 1em 4em;
	grid-area: titulo;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 2em
}

.contenido .texto{
	background: #51F67C;
	padding: 1em 5em;
	grid-area: texto;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	font-size:1.3em; 
	flex-direction: column;
}

.contenido .imagen{
	padding: 2em 1em 2em 8em;
	grid-area: imagen;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.contenido .imagen img{
	width: 25em;
}


.contenido .imagenejemplos{
	grid-area: imagenejemplos;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 2em 2em;
}

.contenido .imagenejemplos img{
	width:25%;
}


	.list-container{
        position: absolute;
        top: 60px;
        left: -100%;
        width: 100%;
        height: 100%;
        background: #eee;
        border-top: 3px solid #fff;
    }
    .list-container .lists{
        display: block;
        width: 90%;
        margin:50px auto;
    }
    .list-container .lists li{
        display: flex;
        justify-content: center;
        border-bottom: 2px solid #ddd;
    }
    .list-container .lists li a{
        margin:5px 0px;
        text-decoration: none;
        padding: 1em 0;
        font-size: 1.2em;
    }